[Unit]
Description=LED Sleeve
After=network.target

[Service]
Type=simple
ExecStart=bash -c "sudo FOO=bar python3 -u start.py"
WorkingDirectory=/home/pi/led-sleeve
StandardOutput=append:/var/log/led-sleeve.log
StandardError=append:/var/log/led-sleeve.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
